<h3>Losverfahren: <span>{{losverfahren?.name}}</span></h3>
<hr/>
<label for="kennung">Identifikationsnummer:</label>
<input id="kennung" #kennung maxlength="8" size="8" (keyup)="kennung.value = suche(kennung.value)"/>
<hr/>
<div *ngIf="losverfahren">
  <div *ngIf="losverfahren.aktiv === true">
    <table>
      <thead>
      <tr>
        <th>1. Wunsch</th>
        <th>2. Wunsch</th>
        <th>3. Wunsch</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <select #wunsch1 [(ngModel)]="auswahl1">
            <option *ngFor="let kurs of losverfahren.kurse">{{kurs.name}}</option>
          </select>
        </td>
        <td>
          <select #wunsch2 [(ngModel)]="auswahl2">
            <option *ngFor="let kurs of losverfahren.kurse">{{kurs.name}}</option>
          </select>
        </td>
        <td>
          <select #wunsch3 [(ngModel)]="auswahl3">
            <option *ngFor="let kurs of losverfahren.kurse">{{kurs.name}}</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
    <button id="absenden" (click)="absenden(); kennung.value=''">Einstellungen speichern</button>
  </div>
  <div *ngIf="losverfahren.aktiv === false">
    <p>Dieses Losverfahren ist nicht aktiv. Du kannst hier leider keine Auswahl vornehmen.</p>
  </div>
</div>
