<h3>Losverfahren: <span>{{losverfahren?.name}}</span></h3>
<hr/>
<label for="kennung">Identifikationsnummer:</label>
<input id="kennung" #kennung maxlength="8" size="8" (keyup)="kennung.value = suche(kennung.value)"/>
<hr/>
<div *ngIf="losverfahren">
  <div *ngIf="losverfahren.aktiv === true">
    <div>
    <label for="auswahl1">1. Wunsch</label><br>
    <select #wunsch1 [(ngModel)]="auswahl1" id="auswahl1">
      <option *ngFor="let kurs of losverfahren.kurse">{{kurs.name}}</option>
    </select>
    </div>
    <div>
    <label for="auswahl2">2. Wunsch</label><br>
    <select #wunsch2 [(ngModel)]="auswahl2" id="auswahl2">
      <option *ngFor="let kurs of losverfahren.kurse">{{kurs.name}}</option>
    </select>
    </div>
    <div>
    <label for="auswahl3">3. Wunsch</label><br>
    <select #wunsch3 [(ngModel)]="auswahl3" id="auswahl3">
      <option *ngFor="let kurs of losverfahren.kurse">{{kurs.name}}</option>
    </select>
    </div>
    <br>
    <button id="absenden" (click)="absenden(); kennung.value=''">Einstellungen speichern</button>
  </div>
  <div *ngIf="losverfahren.aktiv === false">
    <p>Dieses Losverfahren ist nicht aktiv. Du kannst hier leider keine Auswahl vornehmen.</p>
  </div>
</div>
