main {
  min-height: 30em;
  padding: 3em;
  background-image: repeating-radial-gradient(
    circle at 0 0,
    #fff,
    #ddd 50px
  );
}

label {
  display: block;
  margin: 2em;
  padding: 2em;
  border: 1px dotted;
}
