<div>
	<h2>Losverfahren:</h2>
</div>
<div>
	<ul class="losverfahren">
		<li *ngFor="let losverfahren of losverfahrenListe">
			<a routerLink="/losverfahren/{{losverfahren.id}}">
      			<span class="badge">&gt;</span> {{losverfahren.name}}
    		</a>
			<button class="delete" title="Losverfahren löschen"
				(click)="deleteLosverfahren(losverfahren.id)">x</button>
		</li>
	</ul>
</div>
<div>
	<h3>Losverfahren anlegen</h3>
	<label>Name:  <input #name
		placeholder="Namen für neues Losverfahren eingeben" />
		<button (click)="createLosverfahren(name.value)">anlegen</button>
	</label>
</div>