<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="de" lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Home &#124; Goethe-Gymnasium Leipzig</title>
</head>
<body>
	<div>
		<a href="http://cms.sachsen.schule/gymlgorki/" target="_top">
			<img src="https://cms.sachsen.schule/fileadmin/_processed_/csm_logobannergoethe_b67dc57963.png"
			width="1000" height="174" alt="" border="0" />
		</a>
		<h1>Losverfahren-Manager</h1>
	</div>
	<div>
		<router-outlet></router-outlet>
	</div>
	<div>
		<app-messages></app-messages>
	</div>
</body>
</html>
